@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

.animate-star-movement-bottom {
  animation-name: star-movement-bottom;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-star-movement-top {
  animation-name: star-movement-top;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
